@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-size: 18px;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Ubuntu Mono", monospace;
}

h1 {
  font-family: "Roboto", sans-serif !important;
  font-weight: 100;
  font-size: 42px;
  color: #a6e22b;
}

h2.sub {
  font-size: 32px !important;
  margin-bottom: 10px !important;
  font-style: italic;
  font-weight: normal;
  color: #88846f;
}


.card{
  color: #fff;
  background-color: #272822;
  border: 3px solid #1e1f1c;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;

  box-shadow: 0 8px 8px -4px #bdcbd4;
}

.content > h3 {
  margin: 25px 0;
}

.content > h4 {
  color: #e6c450;
  margin-top: 50px;
}

.content > ul > li {
  text-align: center;
  margin: 10px 0;
}

.content > ul {
  list-style-type: none;
}

.window {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: inline-block;
}

.window:not(:last-child){
  margin-bottom: 30px;
}

.buttons {
  display: block;
}

.titlebar {
  background-color: #1e1f1c;
  height: 44px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
}
.dot-close {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  display: inline-block;
  border-radius: 50%;
  margin-left: 7px;
  background-color: #ef6866;
}

.dot-minimise {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  display: inline-block;
  border-radius: 50%;
  margin-left: 7px;
  background-color: #f5ed49;
}

.dot-maximise {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  display: inline-block;
  border-radius: 50%;
  margin-left: 7px;
  background-color: #89c665;
}

/* Cases */

#cases {
  margin-top: 100px;
}

.frame {
  width: 100%;
  border-radius: 8px;
}

.case {
  display: inline-block;
  margin-bottom: 30px;
}

/* End cases */

/* Footer */

#footer {
  text-align: center;
  color: #88846f;
  background-color: #272822;
  position: absolute;
  width: 100%;
}

#footer > img {
  margin-top: 150px;
  width: 150px;
}

#view {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 60px;
  font-family: "Roboto", sans-serif !important;
  font-weight: normal;
  width: 300px;
  font-size: 32px;
}

/* End Footer */

/* Brand-buttons */
#brands {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 100px;
}

.brand-button {
  border: 2px solid #88846f;
  background-color: none;
  padding: 14px 28px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 15px;
}

.brand-button:not(:last-child) {
  margin-right: 10px;
}

/* End Brand-buttons */

#skills {
  justify-content: center;
  margin: -30px 20px 100px 20px;
  text-align: center !important;
}

#abstract {
  font-style: italic;
  width: 100%;
  margin: 0 auto;
}

#huggy,
#huggy:visited,
#huggy:hover {
  color: #f22654;
  text-decoration: none;
  font-weight: bold;
  font-style: normal;
}

#header {
  text-align: center !important;
  background-color: #272822;
  padding: 120px 60px 20px;
  color: #e6c450;

  padding-bottom: 60px;
}

#avatar {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
  width: 120px;
}

#banner {
  background: url("../img/mobile.png");
  background-position: center center;
  background-repeat: no-repeat;

  width: 100% !important;
  height: 300px;
}

#works {
  text-align: center !important;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 100px 30px;
  margin: 0 auto;
}

#works > h2 {
  font-style: bold !important;
}

#works > p > a,
#works > p > a:visited,
#works > p > a:hover {
  color: #88846f !important;
  text-decoration: none !important;
  font-weight: 700 !important;
  font-style: normal !important;
}

// Desktop 
@media (min-width: 800px) {

  #banner {
    background: url("../img/desktop.png");
    background-position: center center;
    background-repeat: no-repeat;

    height: 400px;
  }

  #avatar {
    width: 172px;
  }
  #header {
    padding-bottom: 160px;
  }
  #abstract {
    width: 500px;
    margin: 0 auto;
  }

  #skills{
    padding: 0 0px 100px 0px;
  }

  .case:not(:last-child) {
    margin-right: 60px;
  }  

  .card{
    width: 500px;
  }

  .frame {
    width: 400px;
  }

}
